// https://getbootstrap.com/docs/5.0/customize/sass/
$body-bg:    rgb(15,15,15);
$body-color: #EEE;
$primary:    darken(#428bca, 6.5%);
$success:    #5cb85c;
$info:       #5bc0de;
$warning:    #f0ad4e;
$danger:     #d9534f;
$enable-gradients: true;
$font-family-sans-serif: "Open Sans";

@import '~bootstrap/scss/bootstrap.scss';
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 0px 0px 275px 175px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: inset 0px 0px 275px 175px rgba(0, 0, 0, 0.65);
  box-shadow: inset 0px 0px 275px 175px rgba(0, 0, 0, 0.65);
  overflow: hidden;
}

::-webkit-scrollbar {
    left: -9px;
    min-height: 10px;
    width: 7px;
    background-color: #6C6E71;
    display: block;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    opacity: 0.7;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    -ms-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}

::-webkit-scrollbar-track {
    display:none;
    opacity: 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.popout {
  width: 450px;
}

#ovelap-Box
{
  position: absolute;
  cursor: pointer;
}
#test2
{
  position: relative;
  top: 13px;
  right: -15px;
}

//https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.content {
  overflow-y: auto;
  overflow-x: auto;
  max-height: calc(100vh - 76px);
 }

@include media-breakpoint-up(lg) {
  .chat {
    max-width: 340px;
    height: 100%;
  }
}

.content-wrapper {
  max-height: calc(100vh - 76px);
}
